included_area_residues = 89 91 93 144 150 30 42 44
included_area_precision = 1
output_type = raw_pdb 
sphere_count = 10
min_vol_radius = 1.3
list_wall = residue

NDD_modes_format = column
NDD_step = 3
##NDD_frequences_scaling = true
